.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_logo {
    width: 250px;

    img {
      width: 100%;
    }
  }

  &_official {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    span {
      display: block;
      font-size: 18px;
    }
  }

  &__phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;

    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}