.advantages {
  text-align: center;
  /* max-width: 1920px; */
  /* height: 470px; */
  background-color: #f6f6f6;
  padding: 60px 0 78px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 65px;
  }

  &__item {
    width: 240px;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    color: #0d0d0d;
    margin-top: 38px;
  }

  &__descr {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    color: #0d0d0d;
    margin-top: 26px;
  }
}