.consultation {
    // width: 1920px;
    min-height: 680px;
    background: url(../img/bg2.jpg) center (center/cover) no-repeat;
    padding: 100px 0 92px 0;

    &_descr {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        margin-top: 80px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
};