.footer {
    min-width: 1919px;
    height: 630px;
    background-color: #fff9ef;
    position: relative;
    &__info {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 460px;
        height: 270px;
        padding: 50px 68px 60px 68px;
        background-color: $main-color;
    }
    &__addr {
        display: block;
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
    }
    &__phone {
        display: block;
        margin: 0 auto;
        margin-top: 36px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
    }
    &__social {
        width: 250px;
        margin: 0 auto;
        margin-top: 38px;
        display: flex;
        justify-content: space-around;
        &-item {
            width: 50px;
            height: 50px;
            border: 2px solid #ffffff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}