@media (max-width: 961px) {
    .header {
        padding: 0 30px;
    }
    .promo__wrapper {
        padding: 0 40px;
    }
    .advantages__wrapper {
        padding: 0 40px;
    }
    .title_left {
        text-align: center;
    }
    .consultation_descr {
        text-align: center;
    }
    .feed-form {
        margin: 0 auto;
        margin-top: 36px;
    }
}

@media (max-width: 720px) {
    .header_logo {
        width: 150px;
    }
    .header_official {
        font-size: 10px;
    }
    .header_official span {
        font-size: 12px;
    }
    .header__phone {
        margin: 0 auto;
        font-size: 12px;
    }
    .button {
        width: 150px;
        font-size: 8px;
    }
    .button_main {
        margin-top: 41px;
        height: 33px;
    }
    .promo__link {
        margin-top: 16px;
        font-size: 12px;
    }
    .promo__icons {
        margin-top: 60px;
        width: 390px;
    }
    .promo__wrapper {
        margin-top: 45px;
    }
    .promo__header {
        font-size: 30px;
    }
    .promo__subheader {
        margin-top: 0px;
        font-size: 16px;
    }
    .advantages__item {
        width: 145px;
    }
    .advantages__subtitle {
        font-size: 14px;
        margin-top: 21px;
    }
    .advantages__descr {
        font-size: 12px;
        margin-top: 10px;
    }
    .advantages__wrapper {
        margin-top: 31px;
    }
    .consultation {
        padding: 50px 0 49px 0;
        min-height: 520px;
    }
    .title_left {
        font-size: 20px;
    }
    .consultation_descr {
        font-size: 16px;
        margin-top: 24px;
    }
    .feed-form input {
        width: 240px;
        height: 44px;
        font-size: 12px;
    }
    .feed-form input {
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .button_submit {
        height: 44px;
        margin: 0 auto;
        width: 240px;
    }
}