@media (max-width: 1024px) {
  .container {
    padding: 15px;
    padding-bottom: 0;
  }
  .header {
    &_logo {
      width: 170px;
    }
  }
  .promo {
    &__header {
      font-size: 36px;
    }
    &__subheader {
      font-size: 23px;
    }
    &__icons {
      justify-content: center;
      gap: 15px;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 769px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    align-items: center;
    row-gap: 15px;
    &_official {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      & > span {
        font-size: 18px;
      }
    }
    &__phone {
      font-size: 14px;
    }
  }
  .promo {
    min-height: 580px;
    padding-bottom: 40px;
    &__wrapper {
      margin-top: 70px;
    }
    &__header {
      font-size: 28px;
    }
    &__subheader {
      margin-top: 0;
      font-size: 16px;
    }
    &__icons {
      margin-top: 30px;
      width: 400px;
    }
    &__icon {
      font-size: 11px;
      & > img {
        margin-bottom: 10px;
      }
    }
    button.button_main {
      margin-top: 40px;
      width: 239px;
      height: 40px;
      font-size: 14px;
    }
    &__link {
      margin-top: 12px;
      font-size: 13px;
    }
  }
}

@media (max-width: 425px) {
  .promo__icons {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .header {
    &_logo {
      width: 120px;
    }
    &__phone {
      font-size: 12px;
    }
    &_contacts {
      & > button {
        width: 120px;
        font-size: 10px;
      }
    }
  }
  .promo {
    button.button_main {
      font-size: 12px;
      width: 190px;
      height: 33px;
    }

    &__wrapper {
      margin-top: 45px;
    }
    &__header {
      font-size: 22px;
    }
    &__subheader {
      font-size: 12px;
    }
  }
}
